@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-main: 'Manrope', system-ui, 'Segoe UI', Roboto, sans-serif;

  --color-text: #6b6375;
  --color-text-h: #08060d;
  --color-bg: #F6F3F2;
  --color-container-bg: #fff;
  --color-border: #D0D0D0;
  --color-accent-bg: #65A4EC;
  --color-danger: #BA1A1A;
  --color-contact-icon: #25D366;

  --shadow-default: 0px 1px 2px 0px #0000000D;
}

:root {
  font-family: var(--font-main);
  color: var(--color-text);
  background: var(--color-bg);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

label:has(+ input[required])::after {
  content: " *";
  color: var(--danger);
}